Django==5.0.6
Pillow==10.2.0
psycopg2-binary==2.9.9
celery==5.3.4
redis==5.0.1
gunicorn==21.2.0
python-decouple==3.8
Werkzeug==3.0.1
click==8.1.7
kombu==5.3.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
